[Desktop Entry]
Version=1.0
Icon=project-plus-dolphin-ontario
Exec=project-plus-dolphin-ontario
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Project+ Dolphin
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
